# LRPP Data Organizer
#### Jingzhi Kevin Yu
#### Date Updated: 11/13/21

## Environment Prep

In [12]:
# load packages
import pandas as pd
import numpy as np

In [13]:
# load data
df = pd.read_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/LRPP.csv') # raw data 
target_df = pd.read_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/Output/MESA_cleaned_DDH_ASCVDonly.csv') # target data

##### Sample Data

In [14]:
target_df.head()

,id,tte,label,cig,sbp,dbp,dm03,htnmed,hdl,chol,times,age,race,gender
0,0,17.0,0,1.0,147.5,80.0,0.0,0.0,59.0,169.0,1.0,51.0,1,1
1,0,17.0,0,1.0,132.0,80.0,0.0,NaN,64.0,218.0,3.0,53.0,1,1
2,0,17.0,0,1.0,129.5,78.5,0.0,0.0,55.0,196.0,5.0,55.0,1,1
3,0,17.0,0,1.0,137.0,81.0,1.0,0.0,64.0,201.0,7.0,57.0,1,1
4,0,17.0,0,1.0,143.5,80.5,1.0,1.0,59.0,205.0,10.0,60.0,1,1

## Data Wrangling

### Variable Selection and Renaming + Diabetes Variable Creation

In [15]:
# get relevant variables from main dataset
df = df.loc[:, ['AGE', 'ASCVD', 'RACE', 'SBP', 'DBP', 'RXHYP', 'TOTCHL', 'HDLCHL', 'ID_FINAL',
                'LENYASCVD', 'PREVALENT_CVD', 'SMOKER' ,'SEX', 'STUDY', 'LENYFL', 'EXAM', 'GLUCOSE', 'HXDIAB']]

# label diabetes
df['dm03'] = 0
df.loc[(df['GLUCOSE'] > 126) | (df['HXDIAB'] == 1), 'dm03'] = 1
df.loc[(df['GLUCOSE'].isna()) & (df['HXDIAB'].isna()), 'dm03'] = None

# change variable names
df = df.rename(columns = 
{
    'ID_FINAL':'id',
    'LENYASCVD':'tte', 
    'ASCVD':'label',
    'SMOKER':'cig', 
    'SBP':'sbp',
    'DBP':'dbp',
    'RXHYP':'htnmed',
    'HDLCHL':'hdl',
    'TOTCHL':'chol',
    'LENYFL':'times',
    'AGE':'age',
    'SEX':'gender',
    'RACE':'race'
})

# order data to match target data
df = df.loc[:, ['id', 'tte', 'label', 'cig', 'sbp', 'dbp', 'dm03', 'htnmed', 'hdl', 'chol', 'times', 'age', 'race', 'gender', 'EXAM', 'STUDY']]

In [16]:
print(df.groupby('STUDY').times.mean())
print(df.groupby('STUDY').times.max())
print(df.groupby('STUDY').times.min())

STUDY
1    18.525903
2    21.746108
3    10.579956
4    11.511635
5    22.516093
6    18.424410
7     5.954698
9    16.008429
Name: times, dtype: float64
STUDY
1    31.1
2    42.2
3    22.6
4    17.5
5    63.2
6    42.6
7    12.2
9    33.1
Name: times, dtype: float64
STUDY
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
9    0.0
Name: times, dtype: float64

In [17]:
print(df.groupby('STUDY').tte.mean())
print(df.groupby('STUDY').tte.max())
print(df.groupby('STUDY').tte.min())

STUDY
1    17.776247
2    21.311869
3     8.757602
4    11.041460
5    18.912107
6    16.601570
7     5.774156
9    15.185497
Name: tte, dtype: float64
STUDY
1    31.1
2    42.2
3    22.5
4    17.5
5    63.2
6    42.3
7    12.2
9    33.1
Name: tte, dtype: float64
STUDY
1   -23.6
2   -24.6
3    -9.5
4    -9.8
5   -47.0
6   -39.2
7   -10.3
9   -25.7
Name: tte, dtype: float64

### Data Cleaning
1. Update participant follow-up times and time to event
2. Remove records after censoring
3. Select and realign time of different studies
    1. FHS: Start from year 15
    2. FOF: Start from year 10
4. Remove particiapnts who have ASCVD from first 5 years
5. Log transform the cholesterol and HDL values

##### Update participant follow-up times and time to event(tte)

In [18]:
# get min date of each participant for follow-up times and time to event
times_max_list = df.groupby(['id']).times.max().reset_index()
times_max_list.columns = ['id', 'max_times']
tte_max_list = df.groupby(['id']).tte.max().reset_index()
tte_max_list.columns = ['id', 'max_tte']

# get times and tte variable 
df = pd.merge(df, times_max_list)
df = pd.merge(df, tte_max_list)

# times = max_times - follow-up time
df['times'] = df['max_times'] - df['times']
# tte = max tte
df['tte'] = df['max_tte'] 

# drop intermediate variables
df = df.drop(columns = ['max_times', 'max_tte'])

In [19]:
df.to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/LRPP_raw.csv', index = False)

##### Select and realign study periods

In [20]:
# FHS start from year 15 
df.loc[(df['STUDY'] == 5), 'times'] = df.loc[(df['STUDY'] == 5), 'times'] - 15

# FOF start from year 10
df.loc[(df['STUDY'] == 6), 'times'] = df.loc[(df['STUDY'] == 6), 'times'] - 10

# CARDIA start from year 18
df.loc[(df['STUDY'] == 2), 'times'] = df.loc[(df['STUDY'] == 2), 'times'] - 18

# remove those with negative times
df = df.loc[df['times']>= 0]

##### Remove patients less than 40 and over 75

In [21]:
age_exclude = df.loc[(df['age'] < 32) | (df['age'] > 71), 'id'].drop_duplicates()

df = df.loc[~df['id'].isin(age_exclude)]

# number of unique participants
df.id.nunique()

28683

##### Remove records after censoring (CVD event)

In [22]:
# remove records after censoring
df = df.loc[df['tte'] >= df['times']]

# number of unique participants
df.id.nunique()

28645

##### Exclude participants that have ASCVD within the first 8 years

In [23]:
# Exclude participants with ASCVD within 8 years
df = df.loc[df['tte']> 8, :]

# number of unique participants
df.id.nunique()

25156

##### Exclude participants that have no data before 8 years

In [24]:
max_age_before_threshold = df.loc[df['times'] <= 8, 'id'].drop_duplicates()

In [25]:
df = df.loc[df['id'].isin(max_age_before_threshold), :]

##### Log transform the cholesterol and HDL values

In [26]:
#df['hdl'] = np.log(df['hdl'])
#df['chol'] = np.log(df['chol'])

##### Create New IDs for Participants

In [27]:
# get id list of patients
pt_list = pd.DataFrame(df['id'].drop_duplicates())
pt_list['id_new'] = range(len(pt_list))
pt_list['id_new'] = pt_list['id_new'] + 1

df = pd.merge(df, pt_list)

df['id'] = df['id_new']
df = df.drop(columns = ['id_new'])

## Missingness

In [28]:
# general missingness
round(df.isnull().sum() / len(df) * 100, 1)

id         0.0
tte        0.0
label      0.0
cig        6.3
sbp        0.6
dbp        0.7
dm03       3.5
htnmed     3.2
hdl       15.2
chol       9.8
times      0.0
age        0.0
race       0.0
gender     0.0
EXAM       0.0
STUDY      0.0
dtype: float64

In [29]:
# hdl missing
print(df.loc[df['hdl'].isna(), 'id'].nunique())
print(round(df.loc[df['hdl'].isna(), 'id'].nunique() / df['id'].nunique()*100,1), '%', sep = '')

5482
22.1%

In [30]:
# chol missing
print(df.loc[df['chol'].isna(), 'id'].nunique())
print(round(df.loc[df['chol'].isna(), 'id'].nunique() / df['id'].nunique()*100,1), '%', sep = '')

5167
20.8%

In [31]:
# smoking missing
print(df.loc[df['cig'].isna(), 'id'].nunique())
print(round(df.loc[df['cig'].isna(), 'id'].nunique() / df['id'].nunique()*100,1), '%', sep = '')

3339
13.4%

In [32]:
df.loc[df['chol'].isna(), ['id', 'STUDY']].groupby(['STUDY']).id.nunique() / df.groupby(['STUDY']).id.nunique()

STUDY
1    0.029053
2    0.021711
3    0.928571
4    0.039616
5    0.703911
6    0.163380
7    0.307162
9    0.919227
Name: id, dtype: float64

### Filter Missing Data

In [33]:
# drop missing all longitudinal data
df = df[(~df['sbp'].isna()) & (~df['dbp'].isna()) & (~df['hdl'].isna()) & (~df['chol'].isna())]

# number of unique participants
df.id.nunique()

21615

## Output Data

#### Output final cleaned dataset

In [34]:
df.drop(columns = ['STUDY', 'EXAM']).to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/LRPP_final.csv', index = False)

#### Output raw cleaned dataset (with additional identifying variables)

In [35]:
df.to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/LRPP_raw.csv', index = False)

#### Output select dataset (ARIC, CARDIA, FHS, FOF)
1=ARIC 2=CARIDA 3=CHS 4=MESA 5=FHS 6=FOF 7=JHS 9=HHP

In [36]:
df.loc[df['STUDY'].isin([1,2,5,6]), :].drop(columns = ['STUDY', 'EXAM']).to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/LRPP_select.csv', index = False)

#### Output Study Index

In [37]:
mesa_index = df.loc[:,['id', 'STUDY']].drop_duplicates()
mesa_index['study_index'] = False

# current selection: MESA
mesa_index.loc[mesa_index['STUDY'] == 1, 'study_index'] = True

# output data
mesa_index.to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/mesa_index.csv', index = False)

#### Output Study SELECT Index

In [38]:
mesa_index_select = df.loc[df['STUDY'].isin([1,2,5,6]),['id', 'STUDY']].drop_duplicates()
mesa_index_select['study_index'] = False

# current selection: ARIC
mesa_index_select.loc[mesa_index_select['STUDY'] == 4, 'study_index'] = True

# output data
mesa_index_select.to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/mesa_index_select.csv', index = False)

#### Output SELECT Random Index

In [49]:
from sklearn.model_selection import train_test_split

mesa_index_select = df.loc[df['STUDY'].isin([1,2,5,6]),['id', 'label']].drop_duplicates()
mesa_index_select['study_index'] = False

# random selection
train, test = train_test_split(mesa_index_select['id'], test_size = 0.2, stratify = mesa_index_select['label'], random_state = 860)
mesa_index_select.loc[mesa_index_select['id'].isin(test), 'study_index'] = True
print('test size:', len(test))

# output data
mesa_index_select.to_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/random_index_select.csv', index = False)

test size: 3121

### Number of final participants

In [40]:
df.loc[df['STUDY'].isin([1,2,5,6]),['id', 'label']].id.nunique()

15605

## Evaluate Dataset

In [41]:
test = pd.read_csv('/Volumes/fsmresfiles/PrevMed/Projects/MESA_RiskPred/LRPP data/LRPP_select.csv')

In [42]:
test.head()

,id,tte,label,cig,sbp,dbp,dm03,htnmed,hdl,chol,times,age,race,gender
0,1,30.6,0,0.0,107.333333,69.333333,0.0,0.0,69.000,158.0,2.9,48.0,2,2
1,1,30.6,0,0.0,108.000000,73.333333,0.0,0.0,72.000,181.0,6.2,51.0,2,2
2,1,30.6,0,0.0,123.000000,80.000000,0.0,0.0,64.000,164.0,8.8,54.0,2,2
3,2,8.3,0,0.0,102.666667,68.666667,0.0,0.0,43.335,255.0,0.0,47.0,1,2
4,2,8.3,0,0.0,98.666667,58.666667,0.0,0.0,42.000,283.0,2.9,50.0,1,2

In [43]:
test.isna().sum()

id           0
tte          0
label        0
cig        248
sbp          0
dbp          0
dm03        20
htnmed    1115
hdl          0
chol         0
times        0
age          0
race         0
gender       0
dtype: int64

In [44]:
test.label.value_counts()

0    46968
1     6645
Name: label, dtype: int64

In [45]:
df.loc[df['STUDY'].isin([1,4,6]), :].label.value_counts()

0    50405
1     5728
Name: label, dtype: int64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74395 entries, 1 to 87808
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      74395 non-null  int64
 1   tte     74395 non-null  float64
 2   label   74395 non-null  int64
 3   cig     70596 non-null  float64
 4   sbp     74395 non-null  float64
 5   dbp     74395 non-null  float64
 6   dm03    74375 non-null  float64
 7   htnmed  72421 non-null  float64
 8   hdl     74395 non-null  float64
 9   chol    74395 non-null  float64
 10  times   74395 non-null  float64
 11  age     74395 non-null  float64
 12  race    74395 non-null  int64
 13  gender  74395 non-null  int64
 14  EXAM    74395 non-null  int64
 15  STUDY   74395 non-null  int64
dtypes: float64(10), int64(6)
memory usage: 9.6 MB

In [47]:
df.groupby('STUDY').age.mean()

STUDY
1    57.689865
2    50.003850
3    65.816092
4    57.272518
5    57.696303
6    52.203603
7    51.802866
9    71.000000
Name: age, dtype: float64